<html>
	<link rel="stylesheet" href="src/css/style.css">
    <body>
    	<div id="board"></div>
    </body>
	<script src = "https://d3js.org/d3.v3.min.js"></script>
	<script src = "./dist/bundle.js" type = "application/javascript"></script>
</html>
