<html>
	<link rel="stylesheet" href="/src/style.css">
    <body>
	<head>
		<meta property='og:title' content="Bonn Budget Visualization"/>
		<meta property='og:image' content="https://image.ibb.co/dvuwTb/final.png"/>
		<meta property='og:description' content="OpenBudgets.eu"/>
		<meta property='og:url' content="bonn-budget.herokuapp.com" />
	</head>
    	<div id="root"></div>
    </body>
	<script src = "https://d3js.org/d3.v3.min.js"></script>
	<script src="/dist/bundle.js" type='application/javascript'></script>
</html>
