<html prefix="og: http://ogp.me/ns#>
	<link rel="stylesheet" href="/src/style.css">
	<head>
		<meta property='og:title' content="Bonn Budget Visualization"/>
		<meta property='og:image' content="//src/card.png"/>
		<meta property='og:description' content="OpenBudgets.eu"/>
		<meta property='og:url' content="https://bonn-budget.herokuapp.com/" />
	</head>
    <body>

    	<div id="root"></div>
    </body>
	<script src = "https://d3js.org/d3.v3.min.js"></script>
	<script src="/dist/bundle.js" type='application/javascript'></script>
</html>
