<html>
	<script src = "https://d3js.org/d3.v3.js"></script>
	<script src="js/d3plus.full.min.js"></script>
	<link rel="stylesheet" href="stylesheets/style.css">
    <body>
    	<div id="board">

		</div>
    </body>
	<script src="js/utils.js" type='application/javascript'></script>
	<script src="js/display.js" type='application/javascript'></script>
	<script src="js/graph-display.js" type='application/javascript'></script>
	<script src="js/bar-display.js" type='application/javascript'></script>
	<script src="js/list-panel.js" type='application/javascript'></script>

	<script src="js/chart.js" type='application/javascript'></script>
	<script src="js/tooltip.js" type='application/javascript'></script>
	<script src="js/abstractParser.js" type='application/javascript'></script>
	<!-- Loading parsers specific for datasets used. -->
	<script src="js/bonn-parser.js" type='application/javascript'></script>

	<!-- Launch chart generation.-->
	<script src="js/script.js" type='application/javascript'></script>

</html>
